<a href="https://colab.research.google.com/github/Robyalfadhli/Pemerograman-dasar/blob/main/pratikum5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [101]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 9
for angka in range(1, 10, 2):
    print(angka)

--- Soal 1 ---
1
3
5
7
9

In [102]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 9
for angka in range(2, 51, 2):
    print(angka)

#Modifikasilah agar bisa menampilkan angka genap dia antar 1-50

--- Soal 1 ---
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [34]:
print("--- Soal 2 ---")
kode_berhenti = 99
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan angka (99 untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print("Perulangan telah dihentikan oleh sentinel (99).")

#Modifikasilah agar bisa memberhentikan proses dengan memasukan NIM anda

--- Soal 2 ---
Masukkan angka (99 untuk berhenti): 99
Perulangan telah dihentikan oleh sentinel (99).

In [7]:
print("--- Soal 2 ---")
kode_berhenti = 4232401059
input_pengguna = 0 # Inisialisasi awal

while input_pengguna != kode_berhenti:
    try:
        input_pengguna = int(input("Masukkan angka (4232401059 untuk berhenti): "))
    except ValueError:
        print("Input tidak valid. Harap masukkan angka.")

print("Perulangan telah dihentikan oleh sentinel (4232401059).")

--- Soal 2 ---
Masukkan angka (4232401059 untuk berhenti): 4232401059
Perulangan telah dihentikan oleh sentinel (4232401059).

In [37]:
print("--- Soal 3 ---")
harga_barang = [15000, 25000, 10000, 5000]
total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

#Modifikasilah agar harga belanjaan minimal 10 item pada harga_barang

--- Soal 3 ---
Total biaya belanja adalah: 55000

In [17]:
print("--- Soal 3 ---")
harga_barang = [15000, 25000, 10000, 5000, 10000, 20000, 5000, 2000, 5000, 3000]
total_belanja = 0

for harga in harga_barang:
    total_belanja += harga

print("Total biaya belanja adalah:", total_belanja)

--- Soal 3 ---
Total biaya belanja adalah: 100000

In [40]:
print("--- Soal 4 ---")
percobaan_maksimal = 3
percobaan_saat_ini = 1

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini}...")
    # Asumsi ada logika input password di sini
    percobaan_saat_ini += 1

if percobaan_saat_ini == percobaan_maksimal + 1:
    print("Kesempatan habis.")
else:
    print("Akses diterima.")

--- Soal 4 ---
Percobaan ke-1...
Percobaan ke-2...
Percobaan ke-3...
Kesempatan habis.

In [104]:
# Soal 4 - Contoh implementasi dengan input password
print("--- Soal 4 ---")

password_benar = "Roby alfadhli"  # ganti password yang diinginkan
percobaan_maksimal = 3
percobaan_saat_ini = 1
akses_diterima = False

while percobaan_saat_ini <= percobaan_maksimal:
    print(f"Percobaan ke-{percobaan_saat_ini} dari {percobaan_maksimal}")
    password_input = input("Masukkan password: ")

    if password_input == password_benar:
        print("Akses diterima. Selamat!")
        akses_diterima = True
        break
    else:
        sisa = percobaan_maksimal - percobaan_saat_ini
        if sisa > 0:
            print(f"Password salah. Sisa percobaan: {sisa}\n")
        percobaan_saat_ini += 1

if not akses_diterima:
    print("Kesempatan habis. Akses diblokir.")

--- Soal 4 ---
Percobaan ke-1 dari 3
Masukkan password: Robyalfadhli
Password salah. Sisa percobaan: 2

Percobaan ke-2 dari 3
Masukkan password: robyalfadhli
Password salah. Sisa percobaan: 1

Percobaan ke-3 dari 3
Masukkan password: Roby alfadhli
Akses diterima. Selamat!

In [42]:
print("--- Soal 5 ---")
nama_proyek = "PRAKTIKUM"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output) # Output: P-R-A-K-T-I-K-U-M-

--- Soal 5 ---
P-R-A-K-T-I-K-U-M-

In [78]:
print("--- Soal 5 ---")
nama_proyek = "Politeknik Negri Batam"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output)

#Modifikasilah agar teksi yang di cetak menjadi Politeknik Negeri Batam

--- Soal 5 ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-r-i- -B-a-t-a-m-

In [47]:
print("--- Soal 6 ---")
# Countdown dari 5 ke 1
for i in range(5, 0, -1):
    print(i)

--- Soal 6 ---
5
4
3
2
1

In [77]:
print("--- Soal 6 ---")
# Countdown dari 5 ke 1
for i in range(255, 0, -1):
    print(i)

#Modifikasilah agar dapat menghitung mundur dari 255

--- Soal 6 ---
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [75]:
print("--- Soal 7 ---")
bulan = ["Januari", "Februari", "Maret", "April"]

for i, nama in enumerate(bulan):
    # i adalah indeks, nama adalah elemen
    print(f"Bulan ke-{i + 1}: {nama}")

--- Soal 7 ---
Bulan ke-1: Januari
Bulan ke-2: Februari
Bulan ke-3: Maret
Bulan ke-4: April

In [76]:
print("--- Soal 7 ---")
kelurahan = ["tj.Riau", "tiban baru", "bengkong laut", "tanjung pinggir"]
for i, nama in enumerate(kelurahan):
    # i adalah indeks, nama adalah elemen
    print(f"kelurahan ke-{i + 1}: {nama}")

#Modifikasilah agar dapat mencetak nama kelurahan di Kota Batam

--- Soal 7 ---
kelurahan ke-1: tj.Riau
kelurahan ke-2: tiban baru
kelurahan ke-3: bengkong laut
kelurahan ke-4: tanjung pinggir

In [81]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, -1, 50, 60]

for angka in data_angka:
    if angka == -1:
        break
    print(angka)

print("Program berhenti karena angka -1 ditemukan.")

--- Soal 8 ---
10
20
30
Program berhenti karena angka -1 ditemukan.

In [90]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, 0, 50, 60]

for angka in data_angka:
    if angka == 0:
        break
    print(angka)

print("Program berhenti karena angka 0 ditemukan.")

--- Soal 8 ---
10
20
30
Program berhenti karena angka 0 ditemukan.

In [93]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total < batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:", total)

--- Soal 9 ---
Total terakhir: 21

In [95]:
print("--- Soal 10 ---")
jumlah_baris = 3

for baris in range(jumlah_baris):
    baris_teks = ""
    for _ in range(1):
        baris_teks += "Python "
    print(baris_teks)

# Output:
# Python
# Python
# Python

--- Soal 10 ---
Python
Python
Python